#header{
    background-color: #5A020Cce;
    color: #fff !important;
}
#head{
    color: rgb(243, 232, 219) !important;
}

.module h2,
.module caption,
.inline-group h2{
    background-color: #821623ce;
    color: #fff !important;
}

div.breadcrumbs{
    background-color: #821623ce;
    color: #fff !important;
}

.selector-chosen h2{
    background-color: #821623ce !important;
    color: #fff !important;
}

.button, 
input[type=submit], 
input[type=button], 
.button, 
input[type=submit], 
input[type=button], 
.button, 
input[type=submit], 
input[type=button],
.button.default, 
input[type=submit].default, 
.button.default, 
input[type=submit].default, 
.button.default, 
input[type=submit].default{
    background-color: #821623ce ;
}

.button:active, 
input[type=submit]:active, 
input[type=button]:active, 
.button:focus, 
input[type=submit]:focus, 
input[type=button]:focus, 
.button:hover, 
input[type=submit]:hover, 
input[type=button]:hover,
.button.default:active, 
input[type=submit].default:active, 
.button.default:focus, 
input[type=submit].default:focus, 
.button.default:hover, 
input[type=submit].default:hover{
    background-color: #bf3444ce ;
}
